<ng-container *ngIf="user$ | async as user">
  <!-- LOGGATO GOOGLE -->
  <div
    class="user-info"
    *ngIf="!user.isAnonymous; else anon"
    (click)="handleClick(user)"
  >
    <img
      *ngIf="user.photoURL"
      [src]="user.photoURL"
      alt="user"
      referrerpolicy="no-referrer"
    />
    <span class="username">{{ user.displayName || "Utente" }}</span>
    <ion-icon name="log-out-outline" class="logout-icon"></ion-icon>
  </div>

  <!-- LOGOUT / ANONIMO -->
  <ng-template #anon>
    <ion-button
      fill="solid"
      color="dark"
      class="login-btn"
      (click)="handleClick(user)"
      [disabled]="loading$ | async"
    >
      <ng-container *ngIf="!(loading$ | async); else load">
        <div class="login-content">
          <div class="user-label">Utente</div>
          <div class="google-login">
            <ion-icon name="logo-google"></ion-icon>
            <span>Accedi</span>
          </div>
        </div>
      </ng-container>

      <ng-template #load>
        <ion-spinner name="dots" color="light"></ion-spinner>
      </ng-template>
    </ion-button>
  </ng-template>
</ng-container>
