.setting-item {
  margin-top: 20px;
  padding: 14px;
  border-radius: 14px;
  background: #0b2c4d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 700;
}
