<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login con Google</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="user$ | async as user; else loginTemplate">
    <h2>👋 Benvenuto, {{ user.displayName }}</h2>
    <p>Email: {{ user.email }}</p>
    <ion-button expand="block" color="danger" (click)="logout()"
      >Logout</ion-button
    >
  </ng-container>

  <ng-template #loginTemplate>
    <ion-button expand="block" color="primary" (click)="login()"
      >Login con Google</ion-button
    >
  </ng-template>
</ion-content>
