<ion-app>
  @if (showAppLoader) {
    <div class="app-loader-screen">
      <app-game-loader
        title="TurtleMind"
        subtitle="Preparazione della partita..."
      ></app-game-loader>
    </div>
  } @else {
    <div
      class="app-shell"
      [class.app-shell--no-nav]="navHidden"
      [style.--tm-ad-banner-height.px]="(bannerHeightPx$ | async) ?? 0"
    >
      <app-home-navbar></app-home-navbar>

      <div class="app-content">
        <ion-router-outlet [animated]="false"></ion-router-outlet>
      </div>

      @if (user$ | async; as user) {
        <app-bottom-nav
          [activeTab]="activeTab"
          (tabChange)="setActiveTab($event)"
          [class.bottom-nav-hidden]="navHidden"
          [attr.aria-hidden]="navHidden"
        ></app-bottom-nav>
      }
    </div>
  }

  <app-achievement-toast></app-achievement-toast>
  <app-level-up-modal></app-level-up-modal>
  <app-tutorial-overlay></app-tutorial-overlay>
</ion-app>
