/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 */

/* Core CSS required for Ionic components */
@import "@ionic/angular/css/core.css";

/* Basic CSS */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Utility classes */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Dark mode automatico */
@import "@ionic/angular/css/palettes/dark.system.css";

/* ---- BASE APP LAYOUT ---- */
html,
body,
ion-app,
ion-router-outlet {
  height: 100%;
  width: 100%;
  display: block;
}
